<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drag Racing</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Lista de Competidores</h1>
    <ul>
        <li><strong>Marca:</strong> <span th:text="${Carro.marca}"></span></li>
        <li><strong>Modelo:</strong> <span th:text="${Carro.modelo}"></span></li>
        <li><strong>Año:</strong> <span th:text="${Carro.año}"></span></li>
        <li><strong>Apodo:</strong> <span th:text="${Carro.apodo != null ? Carro.apodo : 'No tiene'}"></span></li>
    </ul>

    
</body>
</html>